body {
    font-family: sans-serif;
    margin-top: 75px;
}

.back-img {
    width:100%;
    height:100%;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    font-family: Times;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 350px;
}

