body {
    font-family: sans-serif;
    background: black;
    margin-top: 75px;
}


.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    font-family: Times;
    font: white; 
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 350px;
}

